// Global Variables

// Font Family
$primary-font-family: 'Noto Sans', Helvetica, sans-serif
$secondary-font-family: 'Noto Serif', Georgia, serif

// Colors
$white: #FEFEFF
$light-blue: #B2C3E7
$blue: #3467CC
$dark-blue: #2A4C9F
$red: #C93839
$purple: #5C2F55
$black: #030303
$green: #4AE5AC
$yellow: #F9F193
$background-color: #F5F6F8

// Box Shadow
$box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12)
// $box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.08)
$box-shadow-top: 0 -1px 2px 0 rgba(0, 0, 0, 0.2)

// Design enhancement variables
$clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%)

// Transition
$primary-transition: all ease-in-out 500ms

// Media Queries
$mobile-breakpoint: 500px
$tablet-breakpoint: 800px
$desktop-breakpoint: 1200px