<section>
  <div class="courses__wrapper">
    <div class="course__card">
      <div class="course__card--actions">

      </div>
      <a href="#" class="course__card--description">
      </a>
    </div>
  </div>
</section>
