<section>
  <div class="courses__wrapper">
    <div class="course__card">
      <div class="course__card--actions">
        <a href="#" class="course__card--action">
          <i class="material-icons">favorite_border</i>
        </a>
        <a href="#" class="course__card--action">
          <i class="material-icons">done</i>
        </a>
        <a href="#" class="course__card--action">
          <i class="material-icons">bookmark_border</i>
        </a>
      </div>
      <a href="#" class="course__card--description">
        <img src="#" alt="Ruby Icon" class="course__card--image">
        <h3 class="course__card--title">Ruby on Rails</h3>
      </a>
    </div>

    <div class="course__card">
      <div class="course__card--actions">
        <a href="#" class="course__card--action">
          <i class="material-icons">favorite_border</i>
        </a>
        <a href="#" class="course__card--action">
          <i class="material-icons">done</i>
        </a>
        <a href="#" class="course__card--action">
          <i class="material-icons">bookmark_border</i>
        </a>
      </div>
      <a href="#" class="course__card--description">
        <img src="#" alt="Ruby Icon" class="course__card--image">
        <h3 class="course__card--title">Ruby on Rails</h3>
      </a>
    </div>

    <div class="course__card">
      <div class="course__card--actions">
        <a href="#" class="course__card--action">
          <i class="material-icons">favorite_border</i>
        </a>
        <a href="#" class="course__card--action">
          <i class="material-icons">done</i>
        </a>
        <a href="#" class="course__card--action">
          <i class="material-icons">bookmark_border</i>
        </a>
      </div>
      <a href="#" class="course__card--description">
        <img src="#" alt="Ruby Icon" class="course__card--image">
        <h3 class="course__card--title">Ruby on Rails</h3>
      </a>
    </div>

    <div class="course__card">
      <div class="course__card--actions">
        <a href="#" class="course__card--action">
          <i class="material-icons">favorite_border</i>
        </a>
        <a href="#" class="course__card--action">
          <i class="material-icons">done</i>
        </a>
        <a href="#" class="course__card--action">
          <i class="material-icons">bookmark_border</i>
        </a>
      </div>
      <a href="#" class="course__card--description">
        <img src="#" alt="Ruby Icon" class="course__card--image">
        <h3 class="course__card--title">Ruby on Rails</h3>
      </a>
    </div>

    <div class="course__card">
      <div class="course__card--actions">
        <a href="#" class="course__card--action">
          <i class="material-icons">favorite_border</i>
        </a>
        <a href="#" class="course__card--action">
          <i class="material-icons">done</i>
        </a>
        <a href="#" class="course__card--action">
          <i class="material-icons">bookmark_border</i>
        </a>
      </div>
      <a href="#" class="course__card--description">
        <img src="#" alt="Ruby Icon" class="course__card--image">
        <h3 class="course__card--title">Ruby on Rails</h3>
      </a>
    </div>
  </div>
</section>
