<div class="course__wrapper">
  <h1>Add New Course</h1>
  <h1 class="course--title">Ruby</h1>
  <p class="course--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur soluta excepturi ex? Officia facilis ut quasi voluptates, molestias error modi laborum vero earum, velit architecto ab saepe ea veritatis reprehenderit.</p>
</div>