<header>
  <nav class="navigation__wrapper">
    <ul class="navigation__links navigation__links--left" id="desktop__navigation-links">
      <li>
        <a href="#" class="navigation__link">Courses</a>
      </li>
      <li>
        <a href="#" class="navigation__link">Resources</a>
      </li>
    </ul>
    <h1 class="navigation__title">Artemis</h1>
    <ul class="navigation__links navigation__links--right" id="desktop__navigation-links">
      <li>
        <a href="#" class="navigation__link">Blog</a>
      </li>
      <li>
        <a href="#" class="navigation__link">Dashboard</a>
      </li>
    </ul>
  </nav>
</header>